.profile-container {
  display: flex;
  align-items: center;
}

.profile-image-container {
  border-radius: 10%;
  overflow: hidden;
  margin-right: 20px;
  border: 3px solid black; /* Add a 2px solid black border */
  width: 150px;
  height: 150px;
}


.profile-info {
  font-family: Arial, sans-serif;
}

.profile-header {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.profile-label {
  font-weight: bold;
}

.profile-input {
  width: 200px;
  padding: 5px;
  font-size: 1em;
  border: 2px solid black; /* Add a 2px solid black border */
  font-weight: bold; /* Make the text bold */
  border-radius: 5px; /* Add some border roundness */
  color: gray; /* Set the text color to gray */
}

.section-header {
  font-weight: bold;
  color: black;
  margin-top: 2px;
  font-size: 1.5em;
  
}


.box-container {
  background-color: #fff; /* Background color */
  border: 2px solid #ff9f00; /* Border color */
  border-radius: 8px; /* Border radius to make it rounded */
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  margin-right: 16px; /* Margin between boxes */
  max-width: 300px; /* Maximum width of each box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift effect */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */

  /* Additional styling for text inside the box */
  font-size: 15px;
  color: #333;
  line-height: 1.5;
}

/* Hover effect */
.box-container:hover {
  transform: scale(1.05); /* Enlarge the box slightly on hover */
}



